.header {
  display: flex;
  align-items: center;

  max-width: 1264px;
  margin: 0 auto;
  padding: 46px 10px;
  border-bottom: 1px solid rgba(81, 155, 68, 1);
  opacity: 0.75;
  background: transparent;
}
.header-logo {
  margin-right: 40px;
}
.headerLogoIcon {
}
.headerNav {
  display: flex;
  align-items: center;
  gap: 40px;
}
.headerNavLink {
}
.auth {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}
.authLogIn {
}
.authSingUp {
}
.langSwitcher {
}
.langSwitcherIcon {
}
